
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  {% load staticfiles %}
  <title>Telemetry Dashboard</title>
  
  <link rel="stylesheet" href="{% static "dd.css" %}">

</head>
<body>
	 <h2>Telemetry DashBoard</h2>
	<div class="harshil">
    
    <div title="Vulnerabilty Scanner Telemetry Report" class="metric has-sparkline">
      <h3><a href="/search_result">Telemetry</a></h3>
		
      <p class="value" >
        <a href="/search_result">VUL</a>
      </p>      
    </div>
  
    <div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}"/>
        <a href="">MQS</a>
      </p>      
    </div>
	
	<div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}" />
        <a href="">MSK</a>
      </p>      
    </div>
	
	<div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}" />
        <a href="">MAT</a>
      </p>      
    </div>
	
	<div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}" />
        <a href="">SHR</a>
      </p>      
    </div>
	
	<div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}" />
        <a href="">CI</a>
      </p>      
    </div>
	
	<div class="metric has-sparkline">
      <h3><a href="">Telemetry</a></h3>
      <p class="value" >
	  <img src="{% static "work_in_progress.gif" %}" />
        <a href="">BVT</a>
      </p>      
    </div>
  
  </div>
</body>
</html>
