<!DOCTYPE html>
<html>

    <head>
        <title>McAfee Dashboard Portal</title>
		{% load staticfiles %}
		<center><img src="{% static "mcafee.jpg" %}" alt="My image"/></center>
		<link rel="stylesheet" href="{% static "style.css" %}">
    </head>

    <body>

	{% if errors %}
		<ul>
		
			{% for error in errors %}
			<script> 
			var ERROR = "{{ site_domain }}";
			</script>
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		
	{% endif %}

        <h2><center>Welcome to McAfee Dashboard portal</h2></center>
        <center><strong>Login</strong><br /></center>
		</br></br></br>

		<center>
	<form class="form-wrapper-login cf" action="login" method="post">{% csrf_token %}
        <input type="text" class="pure-input-1-2" placeholder="Username" name="usrnme" value={{ username }}>
		</br></br>
        <input type="password" class="pure-input-1-2" placeholder="Password" name="paswrd" value={{ paswrd }}>
		
		</br></br></br>

		<center><button type="submit" value="Sign In">Sign In</button></center>
	</form>
	<h2>{{ state }}</h2>
    </body>

</html>