{% extends "base.html" %}

	{% block Information %}

	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	{% endblock %}


{% block form %} 
	<script>
	$(function(){
			$.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
		})
	</script>
		<div class='container'>
			<div class='row'>
			<div class='col-lg-3 col-lg-offset-4'>
				<form id='login' action='/login/' method='post'> {% csrf_token %}
					<input type="hidden" name="next" value="{{ request.GET.next }}" />
					<p><b> Email: </b></p> <input type='text' name='email' class="form-control" style="margin-bottom: 10px" placeholder="Email"/>
					<p><b>Password: </b></p> <input type='password' name='password' class="form-control" style="margin-bottom: 15px" placeholder="Password"/>

					<button type='button' class='btn btn-primary'> Login </button>
				</form>
			</div>
		</div>
		
	</div>



{% endblock %}