
{% extends "base.html" %}

{% block Information %}

	<div id='info'>
		<p><h4>
			This is the site to survey for polls of elections. You cane Register here to participate in it. Thanks !
		</h4></p>
	</div>
	{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

	{% block form %}
	<form id='register_new' action='/register/' method='post'> {% csrf_token %}

		<div id='container'>
			<p> First Name: </p> <input type='text' name='firstname' />
			<p> Last Name: </p> <input type='text' name='lastname' />
			<p> User Name: </p> <input type='text' name='username' />
			<p> Email: </p> <input type='text' name='email' />
			<p> Password: </p> <input type='password' name='password' />
			<p> Confirm Password: </p> <input type='password' name='cnf_password' />

			<button>Submit</button>
		</div>

	</form>
	{% endblock %}
